body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    top:0;
    position: sticky;
}

nav {
    background-color: #555;
    padding: 0.5rem;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-direction: column;
}
form input, form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    position:sticky;
    bottom: 0;

}